.footer {
  @apply bg-gray-1 py-12 text-white;

  .footer_content {
    @apply container justify-center items-center flex flex-col gap-x-7;
    gap: 30px;

    > div {
      @apply w-full;
    }

    .footer_newsletter {
      > div:nth-child(2) {
        @apply mb-3;
      }
    }

    .footer_content-logo {
      @apply flex justify-center items-center;
      order: 3;
    }

    .footer_content-navigation {
      h3 {
        @apply mb-3;
      }

      .footer_navigation-wrapper {
        @apply flex justify-between;

        a {
          @apply text-white text-xs;

          &:hover {
            @apply text-gray-2;
          }
        }
      }
    }
  }
}

@screen md {
  .footer {
    .footer_content {
      @apply grid;
      grid-template-columns: 1fr 2fr 1fr;
    }

    .footer_content-logo {
      order: initial !important;
    }
  }
}
