.product-grid_wrapper {
  @apply py-7;

  .product-grid {
    @apply container;
  }

  .product-grid_header {
    @apply flex justify-between items-start mb-7;

    a {
      @apply uppercase text-gray-2 text-base font-bold;
      border-bottom: 2px solid #898989;
      transition: 0.3s ease-in-out;

      &:hover {
        @apply text-dark;
        border-bottom: 2px solid #3b3b3b;
        transition: 0.3s ease-in-out;
      }
    }
  }

  .product-grid_content {
    @apply hidden;
  }

  .product-grid_slider {
    overflow: initial;

    .swiper-slide {
      width: 220px;
    }
  }
}

@screen md {
  .product-grid_wrapper {
    @apply py-14;

    .product-grid_header {
      @apply mb-0;
    }

    .product-grid_content {
      @apply py-7 grid grid-cols-4 gap-x-4 gap-y-8;
    }

    .product-grid_slider {
      @apply hidden;
    }
  }
}
