@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap");
@import "./header.css";
@import "./menu-panel.css";
@import "./footer.css";
@import "./newsletter.css";
@import "./home_banner.css";
@import "./product-grid.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */

body {
  @apply font-theme italic bg-neutral-2 text-sm text-dark;
}

/* Headings */
h1 {
  @apply font-bold text-3xl uppercase;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

/* Icon */

.icon {
  @apply block cursor-pointer;
  transition: 0.3s ease-in-out;
}

.icon-hovered {
  transition: 0.3s ease-in-out;

  &:hover,
  &:hover .icon path,
  &:hover .icon rect {
    transition: 0.3s ease-in-out;
    @apply !fill-gray-2 !stroke-gray-2;
    transition: 0.3s ease-in-out;
  }
}

/* Utilities */
.hovered {
  transition: 0.3s ease-in-out;

  &:hover {
    @apply text-gray-2;
    transition: 0.3s ease-in-out;
  }
}

.hidden {
  display: none;
}
