@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap");
@import "./header.css";
@import "./menu-panel.css";
@import "./footer.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-theme italic bg-neutral-2 text-sm text-dark;
}

h1 {
  @apply font-bold text-2xl;
}

h2 {
  @apply text-xl font-bold;
}

.icon {
  @apply block cursor-pointer;
  min-width: 20px;
  max-width: 20px;
  transition: 0.3s ease-in-out;
}

.icon-hovered {
  transition: 0.3s ease-in-out;

  &:hover,
  &:hover .icon path,
  &:hover .icon rect {
    transition: 0.3s ease-in-out;
    @apply !fill-gray-2 !stroke-gray-2;
    transition: 0.3s ease-in-out;
  }
}

.hovered {
  transition: 0.3s ease-in-out;

  &:hover {
    @apply text-gray-2;
    transition: 0.3s ease-in-out;
  }
}

@keyframes SlideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes SlideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
