<header class="header_wrapper">
<div class="header">
    <a class="header_logo" href="{{ shop.url }}">{% render 'logo' with 'main' %}</a>
    <div id="menu" class="icon-hovered">{% render 'icon' with 'menu', color:'#3B3B3B' %}</div>
</div>
</header>    